@model List<Order>
@{
    ViewData["Title"] = "Index";
}

<div class="main-panel">
    <h5 class="d-flex" style="justify-content: center; background-color: #d1e7dd; color: #000; font-size: 20px; padding: 10px;">Order</h5>
    <div class="table-responsive">
        <table class="table table-bordered" style="text-align: center">
            <thead class="table table-success" style="text-align: center">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                       Phone
                    </th>
                    <th>
                        Settings
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Order order in Model)
                {
                    <tr class="table-light">
                        <td>
                            @order.Date
                        </td>
                        <td>
                            @order.Country
                        </td>
                        <td>
                            @order.City
                        </td>
                        <td>
                            @order.PhoneNumber
                        </td>
                        <td class="d-flex align-items-center" style="height:160px; justify-content: center; gap: 5px">
                            @if (order.Status==true)
                           {
                               <div>
                                    <a asp-area="AdminPanel" asp-controller="Order" asp-action="Confirm" asp-route-id="@order.Id"
                                        class="btn btn-outline-success" style="background-color:#00ff00; color: #fff;">
                                        <i class="mdi mdi-check-circle"></i>
                                        Shipping
                                    </a>
                                </div>
                           }
                           else{
                                <div>
                                    <a asp-area="AdminPanel" asp-controller="Order" asp-action="Confirm" asp-route-id="@order.Id"
                                        class="btn btn-outline-success" style="background-color:white;">
                                        <i class="mdi mdi-check-circle"></i>
                                        Pedding
                                    </a>
                                </div>
                           }
                            <div>
                                <a asp-area="AdminPanel" asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id"
                                    class="btn btn-outline-danger">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



