@inject FianlProject.Services.LayoutService layoutService
@{
    BasketVM basket = await layoutService.ShowBasket();

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinalProject</title>
    <!--  Bootstrap cdn strat -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--  Bootstarp cdn end -->
    <!--  Font-awesome cdn start -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  Font-awesome cdn end -->
    <!-- slick slider css start -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- slick slider css end -->
    <!-- AOS css start cdn-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Aos css end cdn-->
    <link rel="shortcut icon"
          href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRftiM_pe1xTrAz4duzgz1Fo4e6iad49WmfA&usqp=CAU"
          type="image/x-icon">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
    <!--  Modal start -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="product-details">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-details-wrapper">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="product-wrapper-img mb-5">
                                                    <img style="width: 480px; border: 0;" src="~/assets/image/shop/Desk.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="product-details-title">
                                                    <h3>Roomdesk solid wood</h3>
                                                    <div class="sku mb-3">
                                                        <span>
                                                            SKU: AA/99
                                                        </span>
                                                    </div>
                                                    <div class="category mb-3">
                                                        <span>
                                                            Categories:
                                                        </span>
                                                        <a href="#">Chair</a>
                                                    </div>
                                                    <div class="review">
                                                        <span class="rate">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star-half-stroke"></i>
                                                            <i class="fa-solid fa-star-half-stroke"></i>
                                                        </span>
                                                        <a href="#">(3 customer reviews)</a>
                                                    </div>
                                                    <div class="desc">
                                                        <span>About the product</span>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitrquis justo.
                                                    </p>
                                                    <div class="price mb-5">
                                                        <span>
                                                            $100.00
                                                        </span>
                                                    </div>
                                                    <div class="stok mb-2">
                                                        <span>Yes in stock</span>
                                                    </div>
                                                    <div class="quantity mb-5">
                                                        <div class="mini-quan" style="display: inline-flex;
                                                                white-space: nowrap;
                                                                vertical-align: top;">
                                                            <input style="    margin: 0;
                                                                    vertical-align: middle;
                                                                    background: #f9f9f9;
                                                                    cursor: pointer;
                                                                    box-shadow: none;
                                                                    padding: 0 25px;
                                                                    min-width: 35px;
                                                                    height: 45px;
                                                                    border: 1px solid rgba(129, 129, 129, 0.2);
                                                                    display: inline-block;
                                                                    color: #777;" type="button" value="-" class="minus">
                                                            <input style="    align-items: center;
                                                                    text-align: center;
                                                                    width: 70px;
                                                                    border: 1px solid #e3e3e3 !important;
                                                                    height: 45px;
                                                                    display: inline-block;
                                                                    color: #777;
                                                                    border-radius: 0;
                                                                    outline: 0;" type="text" id="quantity_6" class="input-text"
                                                               value="1">
                                                            <input style="    margin: 0;
                                                                    vertical-align: middle;
                                                                    background: #f9f9f9;
                                                                    cursor: pointer;
                                                                    box-shadow: none;
                                                                    padding: 0 25px;
                                                                    min-width: 43px;
                                                                    height: 45px;
                                                                    border: 1px solid rgba(129, 129, 129, 0.2);
                                                                    display: inline-block;
                                                                    color: #777;" type="button" value="+" class="plus">
                                                        </div>
                                                        <a href="#" class="btn btn-default">Add To Cart</a>
                                                    </div>
                                                    <div class="share-icon">
                                                        <span class="feedback">
                                                            The product is already in the wishlist!
                                                            Browse Wishlist
                                                        </span>
                                                        <a href="#">
                                                            <i class="fa-solid fa-heart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Modal end -->
    <!-- Header start -->
    <header>
        @*View Cart Partial start*@

        <div id="mySidenav" class="sidenav carts">
            @await Html.PartialAsync("_basketPartial",layoutService)
        </div>
         @*View Cart Partial end*@
        <div class="header">
            <div class="headertop">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 logo">
                            <a asp-controller="home" asp-action="index">
                                <img width="181" height="34" src="~/assets/image/logo/@layoutService.getSettings().FirstOrDefault(s=>s.Key.Trim().ToLower() == "headerlogo")?.Value"
                                     class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <form class="form1" method="post">
                                <div class="input-group">
                                    <input type="search" name="str" class="form-control inp1" placeholder="Find your product">
                                    <div class="input-group-btn search-button">
                                        <input type="hidden" class="inp2" id="search-param">
                                        <button type="submit" class="btn search-icon">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3 g-3">
                            <div class="icons">
                                <ul style="line-height: 1.5;" type="button" class="btn btn-sm btn-light dropdown-toggle myaccount"
                                    data-toggle="dropdown" aria-expanded="false">
                                      @if (User.Identity.IsAuthenticated)
                                     {
                                        <li style="text-decoration: none; color: #000;" class="myaccountA">
                                           @* <a asp-controller="Manager" asp-action="index">
                                                @User.Identity.Name
                                            </a>*@
                                            @Html.ActionLink(User.Identity.Name, "Index", "Manager", routeValues: null, htmlAttributes:
                                        new {@class = "username", title="Manager"})
                                         </li>
                                     }
                                     else{
                                           <li  class="myaccountA">
                                               <i class="fa-solid fa-user"></i>
                                               <a style="text-decoration: none; color: #000;">
                                                   MyAccount
                                               </a>
                                           </li>
                                     }
                                    <li class="dropdown-menu-right myaccountlist" style="text-decoration: none; top:3.2rem; left: -40%">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a style="text-decoration: none; color: #000; margin-left:10px; margin-top:2px; height:16.5px;"                                                 class="myaccountA" asp-controller="account" asp-action="logout" type="submit">Logout
                                            </a>
                                        }
                                        else
                                        {
                                          
                                            <a class="myaccountA" asp-controller="account" asp-action="login" >Sign in</a>
                                            <a class="myaccountA" asp-controller="account" asp-action="register" >Sign up</a>
                                           
                                        }
                                        
                                    </li>
                                </ul>
                                <div class="canvasss">
                                    <a asp-controller="Wishlist" asp-action="Index" class="btn btn-close-white canvas-shopping">
                                        <i class="fa-regular fa-heart">
                                            @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                                            {
                                                <span id="totalcountWishlist" class="count">@layoutService.GetWishlist().Result.WishlistItems.Count</span>
                                            }
                                            else
                                            {
                                                <span id="totalcountWishlist" class="count">@layoutService.GetWishlist().Result.WishlistItems.Count</span>
                                            }
                                            @*<span>0</span>*@
                                        </i>
                                    </a>
                                    <a class="btn btn-close-white canvas-shopping"
                                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                            aria-controls="offcanvasRight">
                                        <i class="fa-solid fa-basket-shopping">
                                            @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                                            {
                                                <span id="total-count" class="count">@layoutService.ShowBasket().Result.Count</span>
                                            }
                                            else
                                            {
                                                <span id="total-count" class="count">@layoutService.ShowBasket().Result.Count</span>
                                            }
                                           @* <span>
                                                0
                                            </span>*@
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="headerbottom">
                <div class="container-fluid">
                    <div class="row align-items-center d-flex justify-content-start well">
                        <div class="col-lg-3 d-lg-block d-md-none d-sm-none">
                            <div class="logobottom">
                                <nav class="menu-category">
                                    <ul>
                                        <li class="menu_cat">
                                            <a class="accordion">
                                                <i class="fa-solid fa-list"></i>
                                                <span>All Categories</span>
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a asp-controller="shop" asp-action="index">Furniture</a>
                                                    <i class="fa-solid fa-chevron-right"></i>
                                                </li>
                                                <li>
                                                    <a asp-controller ="shop" asp-action="index">
                                                        Bedstead</a>
                                                    <i class="fa-solid fa-chevron-right"></i>
                                                </li>
                                                <li>
                                                    <a asp-controller="shop" asp-action="index">Table</a>
                                                    <i class="fa-solid fa-chevron-right"></i>
                                                </li>
                                                <li>
                                                    <a asp-controller="shop" asp-action="index">Chair</a>
                                                    <i class="fa-solid fa-chevron-right"></i>
                                                </li>
                                                <li>
                                                    <a asp-controller="shop" asp-action="index">Sofa</a>
                                                    <i class="fa-solid fa-chevron-right"></i>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-6 d-lg-block d-md-none d-sm-none">
                            <div class="all-menu">
                                <ul class="main-menu">
                                    <li>
                                        <a asp-controller ="home" asp-action="index" style="cursor:pointer;">
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="About">
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="Faq">
                                            FAQ
                                        </a>
                                    </li>
                                    <li class="proL">
                                        <a asp-controller="Shop" asp-action="Index">
                                            Shop
                                            <i class="fa-solid fa-chevron-down menu-chevron"></i>
                                        </a>
                                        <ul class="pro-list">
                                            <li>
                                                <a asp-controller="Furniture" asp-action="Detail">Product details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="Contact" asp-action="Index">
                                            Contact
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @{
                            Furniture furniture=layoutService.GetFurnitures();
                        }
                        <div class="col-lg-3 d-lg-block d-md-none d-sm-none">
                            <div class="logoright ">
                                <a asp-controller="furniture" asp-action="detail" asp-route-id="@furniture.Id" class="menu-discount">
                                    <strong>@furniture.Name</strong>
                                    <span>@furniture.Price </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <!-- Hamburger menu start -->
    <div>
        <section class="d-lg-none d-sm-block d-md-block">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="text-end d-md-block d-sm-block">
                        <i id="menu" class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class=" d-lg-none d-md-block d-sm-block" id="sidebar">
                <span id="close">X</span>
                <a href="index.html">Home</a>
                <a href="about.html">About Us</a>
                <a href="faq.html">FAQ</a>
                <a href="">
                    Shop
                    <i class="fa-solid fa-chevron-down menu-chevron"></i>
                    <ul class="pro-list" id="shoppp" style="display: none;">
                        <li>
                            <a href="product-details.html">Product details</a>
                        </li>
                    </ul>
                </a>
                <a href="#">Contact</a>
            </div>
        </section>
    </div>
    <!-- Hamburger menu end -->
    <!-- Header end -->
       <main>
            @RenderBody()
       </main>
        <!-- Footer start -->
    <footer>
        <section class="marketpress">
            <div class="market-title">
                <div class="market-img">
                    <a href="">
                        <img src="~/assets/image/footer logo/@layoutService.getSettings().FirstOrDefault(s=>s.Key.Trim().ToLower()=="footerlogo")?.Value" alt="">
                    </a>
                </div>
            </div>
        </section>
        <section class="safe my-3">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-3">
                        <div class="safe-content">
                            <div class="safe-text">
                                <h2 class="section-title">
                                    Got Question? Call us 24/7
                                </h2>
                                <h3 class="section-subtitle">@layoutService.getSettings().FirstOrDefault(s=>s.Key.Trim().ToLower()=="phonenumber")?.Value</h3>
                                <div class="section-description">
                                    <p>17 Princess Road, London, Greater London NW1 8JR, UK</p>
                                </div>
                            </div>
                            <div class="btn-wraper">
                                <a href="" target="_blank"
                                    rel="nofollow" class="element-btn">
                                    @Html.Raw(layoutService.getSettings().FirstOrDefault(x => x.Key.Trim().ToLower() == "onmapbutton")?.Value)
                                    View On Map
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="safe-content">
                            <div class="safe-text">
                                <h2 class="section-title">
                                    We Using
                                </h2>
                                <h3 class="section-subtitle">Safe Payments</h3>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <img src="~/assets/image/footer logo/skril-1.jpg" alt="">
                                    </div>
                                    <div class="col-lg-4">
                                        <img src="~/assets/image/footer logo/palypal-1.jpg" alt="">
                                    </div>
                                    <div class="col-lg-4">
                                        <img src="~/assets/image/footer logo/american_express-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="elementor-secure">
                                    <h2>Secured by:</h2>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-lg-6">
                                        <img src="~/assets/image/footer logo/norton_av_logo1.jpg" alt="">
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="~/assets/image/footer logo/mcAfee_logo1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="quick-links">
                            <div class="link-title">
                                <h4>Quick Links</h4>
                            </div>
                            <div class="link-body">
                                <ul>
                                    <li>
                                        <a href="#">Support Center</a>
                                    </li>
                                    <li>
                                        <a href="#">Term & Conditions</a>
                                    </li>
                                    <li>
                                        <a href="#">Shipping</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                    <li>
                                        <a href="#">Products Return</a>
                                    </li>
                                    <li>
                                        <a href="#">FAQS</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="quick-links">
                            <div class="link-title">
                                <h4>Our Stores</h4>
                            </div>
                            <div class="link-body">
                                <ul>
                                    <li>
                                        <a href="#">New York</a>
                                    </li>
                                    <li>
                                        <a href="#">London SF</a>
                                    </li>
                                    <li>
                                        <a href="#">Cockfosters BP</a>
                                    </li>
                                    <li>
                                        <a href="#">Los Angeles</a>
                                    </li>
                                    <li>
                                        <a href="#">Chicago</a>
                                    </li>
                                    <li>
                                        <a href="#">Las Vegas</a>
                                    </li>
                                    <li>
                                        <a href="#">Albarto</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="copyright">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6">
                        <div class="text-copy">
                            <h2>
                                Copyrights By Xpeedstudio - 2018
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-payment">
                            <h2>
                                Allow payment base on
                            </h2>
                            <div class="row g-5 text-center custom">
                                <div class="col-lg-3 hoverlg">
                                    <img src="~/assets/image/footer logo/skril-1.jpg" alt="">
                                </div>
                                <div class="col-lg-3 hoverlg">
                                    <img src="~/assets/image/footer logo/palypal-1.jpg" alt="">
                                </div>
                                <div class="col-lg-3 hoverlg">
                                    <img src="~/assets/image/footer logo/american_express-1.jpg" alt="">
                                </div>
                                <div class="col-lg-3 hoverlg">
                                    <img src="~/assets/image/footer logo/amazon1.jpg" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="scroltop">
            <div class="scroll">
                <a href="#" class="back-to-top btn g-5 m-5">
                    Back top
                    @Html.Raw(layoutService.getSettings().FirstOrDefault(x => x.Key.Trim().ToLower() == "backtopbutton")?.Value)
                </a>
            </div>
        </section>
    </footer>
    <!-- Footer end -->
</body>
<!--  jquery cdn start -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<!--  jquery cdn end -->
<!--  Bootstarp cdn js start -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
<!--  Bootstarp cdn js end -->
<!-- slick slider js start -->
@*<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>*@
<!-- slick slider js end -->
<!-- Aos js strat cdn -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Aos js end cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV");
    var btnss = header.getElementsByClassName("btnn");
    for (var i = 0; i < btnss.length; i++) {
        btnss[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>

 @*Basket fetch start*@
<script>

    $(document).ready(function () {

        $(document).on("click", ".addToCart", function (e) {
            e.preventDefault();
            var href = $(this).attr("href");
            var base = window.location.origin;
            var url = `${base}${href}`
            var urlForPartial = `${base}/Cart/GetPartial`
           

            fetch(url).then(res => res.text()).then(data => {

                fetch(urlForPartial).then(res => res.text()).then(data => {


                    $(".carts").empty();
                    var card = document.querySelector(".carts")

                    $(".carts").append(data);

                })

            })
            setTimeout(function () {
                var totalcount = document.getElementById("total_count")
                var count = totalcount.innerHTML
                var htmltag = document.getElementById("total-count")
                htmltag.innerHTML = count
            }, 100);
        })

        $(document).on("click", ".remove", function (e) {

            e.preventDefault();
            var href = $(this).attr("href");
            console.log(href)
            var base = window.location.origin;
            var url = `${base}${href}`
            var urlForPartial = `${base}/cart/GetPartial`

            fetch(url).then(res => res.text()).then(data => {

                fetch(urlForPartial).then(res => res.text()).then(data => {

                    $(".carts").empty();
                    var card = document.querySelector(".carts")

                    $(".carts").append(data);

                })

            })
            setTimeout(function () {
                var totalcount = document.getElementById("total_count")
                var htmltag = document.getElementById("total-count")
                htmltag.innerHTML = "0"
                var count = totalcount.innerHTML
                htmltag.innerHTML = count
            }, 100);

        })
    })
</script>
    @*Basket fetch end*@

    @*wishlist fetch start*@
<script>
    $(document).ready(function () {
        $(document).on("click", ".wishlistFetch", function (e) {
            e.preventDefault()
            var href = $(this).attr("href")
            console.log(href)
            var base = window.location.origin
            var url = `${base}${href}`
            var urlToPartial = `${url}/Wishlist/GetWishlistPartial`

            fetch(url).then(res => res.text()).then(data => {
                fetch(urlToPartial).then(res => res.text()).then(data => {

                    $(".wish-lists .wishContainer .wishinROw").empty();

                    $(".wish-lists .wishContainer .wishinROw").append(data);
                });
            })
            //setTimeout(function () {
            //    var countwishlist = document.getElementById("totalcountWishlist");

            //    var heart = document.querySelector("#countWishlist");

            //    var count = countwishlist.innerHTML
            //    console.log(heart.innerHTML = count)

            //}, 100);
        });
        $(document).on("click", ".removeWishlistItem", function (e) {

            e.preventDefault();
            var href = $(this).attr("href");
            console.log(href)
            var base = window.location.origin;
            var url = `${base}${href}`
            var urlForPartial = `${base}/Wishlist/GetWishlistPartial`

            fetch(url).then(res => res.text()).then(data => {

                fetch(urlForPartial).then(res => res.text()).then(data => {

                    $(".wish-lists .wishContainer .wishinROw").empty();

                    $(".wish-lists .wishContainer .wishinROw").append(data);

                })

            })
            setTimeout(function () {
                //var count = document.getElementById("total_countWishlist");

            }, 100);
        })
    });
</script>

 @*wishlist fetch end*@

 @*ModalPartialView Start*@

@*<script>
    let btns = document.querySelectorAll(".btn--e-brand");
    let modalParent = document.getElementById("exampleModal");
    console.log(modalParent)

    btns.forEach(btn => {
        btn.addEventListener("click", (e) => {
            e.preventDefault();
            let href = e.currentTarget.getAttribute("href")
            console.log(href)

            fetch(href)
                .then(Response => Response.text())
                .then(data => { modalParent.modalParent.innerHTML = data })

        })
    })
</script>*@

@*ModalPartialView end*@
<script src="~/assets/js/cart.js"></script>
<script src="~/assets/js/shop.js"></script>
<script src="~/assets/js/main.js"></script>

</html>
