@model List<Furniture>
@{
    ViewData["Title"] = "Index";
}

    @{
        if (TempData["FileName"] != null)
        {
    <div class="alert alert-danger">@TempData["FileName"]</div>
        }
    }

    <div style="width:83%;" class="table-responsive ">
    <h5 class="d-flex" style="justify-content: center; background-color: #d1e7dd; color: #000; font-size: 20px; padding: 10px;">General Seller</h5>
        <table class="table table-bordered" style="text-align: center">
            <thead class="table table-info" style="text-align: center">
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        SKU
                    </th>
                    <th>
                        Article
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        isTrend
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Furniture furniture in Model)
                {
                    <tr class="table-light">
                        <td>
                            <img style="width:110px; height:110px"
                             src="~/assets/image/shop/@furniture.Image" />
                        </td>
                        <td>
                            @furniture.Name
                        </td>
                        <td>
                            @furniture.SKU
                        </td>
                        <td>
                            @furniture.Article
                        </td>
                        <td>
                            @furniture.Price
                        </td>
                        <td class="d-flex align-items-center" style="height:160px; justify-content: center; gap: 5px">
                        @if (furniture.Trend==true)
                        {
                            <div>
                                <a asp-area="AdminPanel" asp-controller="Seller" asp-action="Trend" asp-route-id="@furniture.Id"
                                class="btn btn-outline-success"><i class="mdi mdi-heart"></i></a>
                            </div>
                        }
                        else{
                            <div>
                                <a asp-area="AdminPanel" asp-controller="Seller" asp-action="Trend" asp-route-id="@furniture.Id"
                                class="btn btn-danger"><i class="mdi mdi-heart-broken"></i></a>
                            </div>
                        }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <nav class="pagination d-flex" style="justify-content: center;">
            <ul id="myDIV" class="page-numbers" style="display: flex; list-style: none; padding-top: 10px;">
                @if (ViewBag.CurentPage > 1)
                {
                    <li class="page-item " style="width: 55px;">
                        <a class="page-link page-numbers current btnn" asp-area="AdminPanel" asp-controller="Seller" asp-action="index" asp-route-page="ViewBag.CurentPage-1">Prev</a>
                    </li>
                }
                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    <li class="page-item">
                        @if (i != ViewBag.CurentPage)
                        {
                        <a id="myPage" class="page-link page-numbers btnn " asp-area="AdminPanel" asp-controller="Seller" asp-action="index" asp-route-page="@i">@i</a>
                        }
                        else
                        {
                        <a style="background-color:blue;color:wheat" id="myPage" class="page-link page-numbers btnn " asp-area="AdminPanel" asp-controller="Seller" asp-action="index" asp-route-page="@i">@i</a>
                        }
                    </li>
                }
                @if (ViewBag.CurentPage < ViewBag.TotalPage)
                {
                    <li class="page-item" style="width: 55px;">
                    <a class="page-link page-numbers btnn" asp-area="AdminPanel" asp-controller="Seller" asp-action="index" asp-route-page="ViewBag.CurentPage-1">Next</a>

                    </li>
                }

            </ul>
        </nav>
    </div>
</div>



