@model HomeVM
@inject FianlProject.Services.LayoutService layoutService
@{
    ViewData["Title"] = "Index";
    
}
 <!-- Main start -->
    <section>
        <div class="about">
            <div class="container">
                <div class="row g-4">
                    <div class="col-sm-12 g-4">
                        <div class="about-title">
                            <span>
                                <a asp-controller="home" asp-action="index">Home </a>
                            </span>
                            >
                            <span> Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="filter-title">
                        <h3>Filter:</h3>
                        <form method="get">
                            <div class="price_slider_wrapper">
                                <div class="range-slider">
                                    <span class="rangeValues"
                                        style="display: inline-block; color: #999; padding-top: 20px; padding-left: 50px; font-size: 15px"></span>
                                    <input value="100" min="100" max="1000" step="50" type="range">
                                    <input value="1000" min="100" max="1000" step="50" type="range">
                                </div>
                                <div class="price_slider_amount" data-step="10">
                                    <button type="submit" class="button">Filter</button>
                                    <div class="price_label" style="">
                                        Price:
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="rated_products-2" class="widget woocommerce rated_products">
                        <h3 class="rated-title widget-title">Products By Rating</h3>
                        <ul class="product_list">
                            <li>
                                <a href="#">
                                    <img width="200" height="200" src="~/assets/image/shop/mini-chair_1.jpg"
                                        sizes="(max-width: 300px) 100vw, 300px" class=" lazyloaded" alt=""
                                        data-ll-status="loaded">
                                    <span class="product-title">Mic for Phone</span>
                                </a>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span style="width:100%">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="amount">
                                    $70.00
                                </span>
                            </li>
                            <li>
                                <a href="">
                                <img width="200" height="200" src="~/assets/image/shop/Desk.jpg"
                                        sizes="(max-width: 300px) 100vw, 300px" class=" lazyloaded" alt=""
                                        data-ll-status="loaded">
                                    <span class="product-title">Xpeed Headset</span>
                                </a>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span style="width:100%">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="amount">
                                    <del>$100</del>
                                    $70.00
                                </span>
                            </li>
                            <li>
                                <a href="">
                                    <img width="300" height="300" src="~/assets/image/shop/mini-chair_1.jpg"
                                        sizes="(max-width: 300px) 100vw, 300px" class=" lazyloaded" alt=""
                                        data-ll-status="loaded">
                                    <span class="product-title">Mic for Phone</span>
                                </a>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span style="width:100%">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="amount">
                                    $70.00
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="product-category">
                        <h3 class="category-title">Product categories</h3>
                        <ul class="category-list">
                            @foreach (Category item in Model.Categories)
                        {
                                    <li class="list-item">
                                        <a asp-controller="shop" asp-action="index" asp-route-id="@item.Id">
                                            @item.Name
                                    <span class="count">(@layoutService.GetFurnitureCategory(item.Id))</span>
                                        </a>
                                    </li>
                        }
                    </ul>
                    </div>
                    <div id="block-2" class="widget widget_block media_image">
                        <figure class="block-image size-full">
                            <img width="255" height="475"
                             src="~/assets/image/shop/@layoutService.getSettings().FirstOrDefault(s=>s.Key.Trim().ToLower() == "shopbanner")?.Value"
                                alt="" class="wp-image-2899 lazyloaded" data-ll-status="loaded">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="products-header">
                        <h5 class="products-header_title page-title">Shop</h5>
                        <div class="media filter-content">
                            <div class="media-body before-shop-loop">
                                <button type="button" data-toggle="dropdown" class="sorting">Sort by</button>
                                <div class="orderby" name="orderby" aria-label="Shop order">
                                        <a id="latest" style="display:block; text-decoration: none;" asp-controller="shop" asp-action="getdatas" asp-route-sortingOrder="@("Latest")">Latest</a>
                                        <a id="a-z" style="display:block; text-decoration: none;" asp-controller="shop" asp-action="getdatas" asp-route-sortingOrder="@("A-Z")"> A-Z</a>
                                        <a id="z-a" style="display:block; text-decoration: none;" asp-controller="shop" asp-action="getdatas" asp-route-sortingOrder="@("Z-A")"> Z-A</a>
                                        <a id="z-a" style="display:block; text-decoration: none;" asp-controller="shop" asp-action="getdatas" asp-route-sortingOrder="@("Price by ascending")"> Price by ascending</a>
                                        <a id="z-a" style="display:block; text-decoration: none;" asp-controller="shop" asp-action="getdatas" asp-route-sortingOrder="@("Price by descending")">Price by descending</a>
                                 </div>
                            </div>
                            <div class="media">
                                <h6>View</h6>
                                <ul class="nav nav-tabs view-nav" id="myTab" role="tablist">
                                    <li class="nav-item" id="tab1">
                                        <a id="1" class="nav-link btn_link active_link">
                                            <i class="fa-solid fa-table-cells"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="tab1">
                                        <a id="2" class="nav-link btn_link">
                                            <i class="fa-solid fa-bars"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="1" style="display: block;" class="shop_content">
                        <div class="row is-grid-active">
                        @await Html.PartialAsync("_shopPartial", Model.Furnitures)
                        <nav class="pagination">
                            <ul id="myDIV" class="page-numbers">
                                @if (ViewBag.CurentPage > 1)
                                {
                                    <li class="page-item " style="width: 55px;">
                                        <a class="page-link page-numbers current btnn" asp-controller="shop" asp-action="index" asp-route-page="ViewBag.CurentPage-1">Prev</a>
                                    </li>
                                }
                                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                                {
                                    <li class="page-item">
                                        @if (i != ViewBag.CurentPage)
                                        {
                                            <a id="myPage" class="page-link page-numbers btnn " asp-controller="shop" asp-action="index" asp-route-page="@i">@i</a>
                                        }
                                        else{
                                            <a style="background-color:blue;color:wheat" id="myPage" class="page-link page-numbers btnn " asp-controller="shop" asp-action="index" asp-route-page="@i">@i</a>
                                        }
                                    </li>
                                }
                                @if (ViewBag.CurentPage < ViewBag.TotalPage)
                                {
                                    <li class="page-item" style="width: 55px;">
                                        <a class="page-link page-numbers btnn" asp-controller="shop" asp-action="index" asp-route-page="ViewBag.CurentPage-1">Next</a>
                                    
                                    </li>
                                }

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div id="2" class="shop_content">
                        <div class="row is-grid-active">
                            @foreach (Furniture furniture in Model.Furnitures.OrderByDescending(c=>c.Name).Take(6))
                        {
                            <div class="col-lg-6">
                                <div class="product-m d-flex text-start p-3" style="border: 1px solid #e3e3e3;">
                                    <div class="thumb d-flex">
                                        <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                       href="product-detail.    html">
                                            <img width="125" height="125" class="aspect__img"
                                             src="~/assets/image/shop/@furniture.Image" alt="">
                                        </a>
                                    </div>
                                    <div class="content text-center py-0">
                                        <span class="rate" style="color: #f07f13; letter-spacing: -3px;">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                        </span>
                                        <a asp-controller="Wishlist" asp-action="AddWishlist" class="hrt btn--e-brand d-flex wishlistFetch" asp-route-id="@furniture.Id" data-modal="modal"
                                       data-modal-id="#add-to-cart" >
                                             <i class="fa-regular fa-heart"></i>
                                        </a>
                                        <div class="name">
                                            <a href="product-detail.html">@furniture.Name</a>
                                        </div>
                                        <div class="price">$@furniture.Price</div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main end -->




